.infocenter-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Inter', sans-serif;
  }
  
  .infocenter-header {
    display: flex;
    align-items: center;
    padding: 0.7rem 0rem;
    border-bottom: 1px solid #EBEBEB;
  }
  
  .infocenter-header i {
    font-size: 25px;
    color: #0E1C36;
    margin-right: 10px;
  }
  
  .infocenter-header h1 {
    font-size: 20px;
    font-weight: bold;
    color: #0E1C36;
    margin: 10px;

  }
  
  .infocenter-content {
    display: flex;
    flex: 1;
    border-left: 1px solid #EBEBEB;
  }
  
  .info-sidebar {
    width: 300px;
    background-color: #f8f9fa;
    padding: 0 0;
  }
  
  .sidebar-header {
    font-size: 20px;
    font-weight: bold;
    color: #0E1C36;
    margin: 1.5rem 2rem;

  }
  
  .sidebar-categories {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #EBEBEB;
  }
  
  .category-tab {
    padding: 0.7rem 2rem;
    padding-top: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    border-bottom: 1px solid #EBEBEB;
    background-color: #ffffff;
  }
  
  .category-tab h3 {
    font-size: 17px;
    font-weight: bold;
    color: #0E1C36;
    margin-bottom: 0.25rem;
  }
  
  .category-tab p {
    font-size: 14px;
    color: #58574b;
    line-height: 1.4;
    
  }
  
  .category-tab:hover {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .category-tab.active {
    background-color: #f0f8ff;
    border-left: 6px solid #0E1C36;
  }
  
  .info-content {
    flex: 1;
    padding: 0rem 0rem;
    background: white;
    border-left: 1px solid #EBEBEB;
  }
  
  .content-header {
    font-size: 17px;
    font-weight: bold;
    color: #0E1C36;
    margin-bottom: 0rem;
  }
  
  .subcategory-list {
    display: flex;
    flex-direction: column;
  }
  
  .subcategory-card {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    padding-top: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    border-bottom: 1px solid #EBEBEB;
    text-decoration: none;
  }
  
  .subcategory-card:hover {
    background-color: #f5f5f5;
  }
  
  .subcategory-icon {
    margin-right: 1rem;
    color: #0E1C36;
    font-size: 18px;
    width: 24px;
    text-align: center;
  }
  
  .subcategory-content {
    flex: 1;
  }
  
  .subcategory-content h3 {
    font-size: 14px;
    font-weight: 600;
    color: #0E1C36;
    margin-bottom: 0.25rem;
  }
  
  .subcategory-content p {
    font-size: 14px;
    color: #58574b;
    line-height: 1.4;
  }
  
  .subcategory-card i.fa-chevron-right {
    color: #58574b;
    font-size: 12px;
    margin-left: 1rem;
  }