.left-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 40px;
}

.left-sidebar-logo {
  display: flex;
  align-items: left;
}

.full-logo {
  width: 140px;
  height: auto;
}

.close-left-sidebar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-left-sidebar-icon {
  font-size: 20px;
  color: white;
}

.left-sidebar .nav-link {
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 7px 7px;
  transition: all 0.3s ease;
  border-radius: 6px;
  text-decoration: none;
  margin-bottom: 4px;
  opacity: 1;
}

.left-sidebar .nav-link.active {
  background-color: rgba(255, 255, 255, 0.15);
  font-weight: bold;
  color: white !important;
}

.left-sidebar .nav-link:hover {
  color: white !important;
}

.left-sidebar .nav-link:hover i {
  color: white !important;
}

.left-sidebar .nav-link i {
  width: 17px;
  font-size: 15px;
  margin-right: 8px;
  color: white;
}

.left-sidebar hr {
  border: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px 0;
}
