.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
}

.sidebar-logo {
  display: flex;
  align-items: center;
}

.full-logo {
  width: 150px;
  height: auto;
}

.close-sidebar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-sidebar-icon {
  font-size: 20px;
  color: white;
}

.sidebar .nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: all 0.3s ease;
  border-radius: 6px;
  text-decoration: none;
  margin-bottom: 4px;
  opacity: 1;
}

.sidebar .nav-link.active {
  background-color: rgba(255, 255, 255, 0.15);
  font-weight: bold;
  color: white !important;
}

.sidebar .nav-link:hover {
  color: white !important;
}

.sidebar .nav-link:hover i {
  color: white !important;
}

.sidebar .nav-link i {
  font-size: 15px;
  margin-right: 8px;
  color: white;
}

.sidebar hr {
  border: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 10px 0;
}
