.university-history {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Inter', sans-serif;
}

.page-header {
  display: flex;
  align-items: center;
  padding: 0.7rem 0rem;
  border-bottom: 1px solid #EBEBEB;
}

.page-header i {
  font-size: 25px;
  color: #0E1C36;
  margin-right: 10px;
}

.page-header h1 {
  font-size: 20px;
  font-weight: bold;
  color: #0E1C36;
  margin: 10px;
}

/* Content Section */
.content-section h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 1.5rem 0 1rem;
  color: #0E1C36;
}

.content-section p,
.content-section li {
  font-size: 14px;
  line-height: 1.6;
  color: #58574b;
}

.content-section ul {
  padding-left: 1.5rem;
}
